@page "/CV"
@using Hackathon2023.Components

<PageTitle>CV Lookup</PageTitle>

<h1>CV Lookup</h1>


<MarkdownBox initBlurp="Hi! I can help you find relevant CVs, give me a liste of skills you are looking for" initAIType="CV" />


@code {

}
