@page "/generalchat"
@using Hackathon2023.Components

<PageTitle>WorkItems</PageTitle>


<h1>General Chat</h1>

<p>This component demonstrates fetching data from a service.</p>

<MarkdownBox initBlurp="Sup. Homedog" initAIType="General" />


@code {

}
