@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to the HBPT (HenriksBodega Pre-trained tool)</h1>
<p> Remember to check if it is friday. ='3' </p>
<p> Anything that you would want is easy to be found. </p>

