@page "/jobdesc"
@using Hackathon2023.Components

<PageTitle>Job Description</PageTitle>

<h1>Job Description</h1>

<p>This component demonstrates fetching data from a service.</p>

<MarkdownBox initBlurp="Hi! I can help you write a job description. Give me a title and a list of requirements." initAIType="JobDesc" />


@code {

}
