@page "/workitems"

<PageTitle>WorkItems</PageTitle>

<h1>WorkItems</h1>

<p>This component demonstrates fetching data from a service.</p>

<MarkdownBox initBlurp="Hi! I can help you write a workitem descriptions. Give me a type and sample content" initAIType="WorkItem" />


@code {

}
